.root{
    -fx-background-color: black;
}

.label{
    -fx-text-fill: white;
}

.jfx-button{
    -fx-background-color: black;
    -fx-text-fill: black;
}
.jfx-toggle-button{
    -jfx-toggle-color: white;
    -jfx-text-fill: white;
}